### Import Source

In [445]:
import pandas as pd
import numpy as np

df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

#df_bool=df.notnull()
#df1=df["B/T/Q"].unique()
#df_btq=df[df["B/T/Q"]]
#print(df["B/T/Q"].where(df["B/T/Q"]=="T"))

C:\Users\Julie Mahot\AppData\Local\Temp\ipykernel_9968\1671847934.py:4: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

### Supprimer colonnes NaN

In [446]:
df = df.dropna(axis = 1, how = 'all')

### Affichage

In [447]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [448]:
print(df.head(10))

   No disposition Date mutation Nature mutation Valeur fonciere  No voie  \
0               1    05/01/2023           Vente      1070000,00    184.0
1               1    05/01/2023           Vente      1070000,00    159.0
2               1    05/01/2023           Vente      1070000,00    159.0
3               1    03/01/2023           Vente       152200,00   2914.0
4               1    05/01/2023           Vente       269000,00    427.0
5               1    05/01/2023           Vente       269000,00    427.0
6               1    05/01/2023           Vente       269000,00    427.0
7               1    03/01/2023           Vente       770000,00    159.0
8               1    06/01/2023           Vente         6820,00      NaN
9               2    06/01/2023         Echange        10040,00      NaN

  B/T/Q Type de voie Code voie                Voie  Code postal  ... 5eme lot  \
0   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
1   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
2   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
3   NaN          RTE      0107           DE PONCIN       1450.0  ...      NaN
4     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
5     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
6     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
7     A          RUE      0151  DU PARC DE VILLARD       1210.0  ...      NaN
8   NaN          NaN      B062       ETANG DU BOIS       1480.0  ...      NaN
9   NaN          NaN      B044        CARRE ROCHER       1500.0  ...      NaN

  Surface Carrez du 5eme lot  Nombre de lots  Code type local   Type local  \
0                        NaN               1              3.0   Dépendance
1                        NaN               1              3.0   Dépendance
2                        NaN               1              2.0  Appartement
3                        NaN               0              1.0       Maison
4                        NaN               0              1.0       Maison
5                        NaN               0              3.0   Dépendance
6                        NaN               0              3.0   Dépendance
7                        NaN               0              1.0       Maison
8                        NaN               0              NaN          NaN
9                        NaN               0              NaN          NaN

   Surface reelle bati Nombre pieces principales Nature culture  \
0                  0.0                       0.0            NaN
1                  0.0                       0.0            NaN
2                233.0                       8.0            NaN
3                 64.0                       3.0              S
4                 73.0                       3.0              S
5                  0.0                       0.0              S
6                  0.0                       0.0              S
7                136.0                       7.0              S
8                  NaN                       NaN              T
9                  NaN                       NaN             BT

  Nature culture speciale Surface terrain
0                     NaN             NaN
1                     NaN             NaN
2                     NaN             NaN
3                     NaN           988.0
4                     NaN           835.0
5                     NaN           835.0
6                     NaN           835.0
7                     NaN           921.0
8                     NaN         17050.0
9                     NaN           124.0

[10 rows x 35 columns]

In [449]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(8), int64(4), object(23)
memory usage: 995.2+ MB
None

### Changement Types

In [450]:
colonnes_to_convert = ['No voie', 'Code voie', 'Code postal', 'Code departement', 'Nombre pieces principales']

for column in colonnes_to_convert:
        df[column] = pd.to_numeric(df[column],errors='coerce')

#Changement Type en int des codes N°
df = df.astype({
    'Code voie': 'int64',
    'Code postal' : 'int64',
    'Code departement' : 'int64',
    'Nombre pieces principales' :'int64',
})

# Changement Type Valeur foncière
df["Valeur fonciere"] = pd.to_numeric(df['Valeur fonciere'].str.replace(',', ''))

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer: Error while type casting for column 'Code voie'

In [ ]:
# Changement Type surfaces carrez des lots
colonnes_surfacecarrez = [
    'Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 
    'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 
    'Surface Carrez du 5eme lot'
]

for col in colonnes_surfacecarrez:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
# Dates
df["Date mutation"]=pd.to_datetime(df["Date mutation"], format="%d/%m/%Y")
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               datetime64[ns]
 2   Nature mutation             object
 3   Valeur fonciere             float64
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   Int64
 8   Voie                        object
 9   Code postal                 Int64
 10  Commune                     object
 11  Code departement            Int64
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   float64
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  float64
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  float64
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  float64
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  float64
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   Int64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: Int64(4), datetime64[ns](1), float64(12), int64(4), object(14)
memory usage: 1009.4+ MB
None
         No disposition Date mutation Nature mutation  Valeur fonciere  \
0                     1    2023-01-05           Vente      107000000.0
1                     1    2023-01-05           Vente      107000000.0
2                     1    2023-01-05           Vente      107000000.0
3                     1    2023-01-03           Vente       15220000.0
4                     1    2023-01-05           Vente       26900000.0
...                 ...           ...             ...              ...
3727000               1    2023-10-05    Adjudication      393100000.0
3727001               1    2023-10-05    Adjudication      393100000.0
3727002               1    2023-10-05    Adjudication      393100000.0
3727003               1    2023-12-28           Vente        9825000.0
3727004               1    2023-12-28           Vente        9825000.0

         No voie B/T/Q Type de voie  Code voie               Voie  \
0          184.0   NaN          ALL        124         DES HETRES
1          159.0   NaN          ALL        124         DES HETRES
2          159.0   NaN          ALL        124         DES HETRES
3         2914.0   NaN          RTE        107          DE PONCIN
4          427.0     T          CHE         40       DE L'AUBEPIN
...          ...   ...          ...        ...                ...
3727000     39.0   NaN           AV       1832    CHARLES FLOQUET
3727001     39.0   NaN           AV       1832    CHARLES FLOQUET
3727002     39.0   NaN           AV       1832    CHARLES FLOQUET
3727003     66.0     B          RUE       8892  SEBASTIEN MERCIER
3727004     66.0     B          RUE       8892  SEBASTIEN MERCIER

         Code postal  ... 5eme lot  Surface Carrez du 5eme lot  \
0               1630  ...      NaN                         NaN
1               1630  ...      NaN                         NaN
2               1630  ...      NaN                         NaN
3               1450  ...      NaN                         NaN
4               1800  ...      NaN                         NaN
...              ...  ...      ...                         ...
3727000        75007  ...      NaN                         NaN
3727001        75007  ...      NaN                         NaN
3727002        75007  ...      NaN                         NaN
3727003        75015  ...      NaN                         NaN
3727004        75015  ...      NaN                         NaN

         Nombre de lots  Code type local   Type local  Surface reelle bati  \
0                     1              3.0   Dépendance                  0.0
1                     1              3.0   Dépendance                  0.0
2                     1              2.0  Appartement                233.0
3                     0              1.0       Maison                 64.0
4                     0              1.0       Maison                 73.0
...                 ...              ...          ...                  ...
3727000               1              3.0   Dépendance                  0.0
3727001               1              3.0   Dépendance                  0.0
3727002               1              3.0   Dépendance                  0.0
3727003               1              3.0   Dépendance                  0.0
3727004               1              2.0  Appartement                 18.0

        Nombre pieces principales Nature culture  Nature culture speciale  \
0                               0            NaN                      NaN
1                               0            NaN                      NaN
2                               8            NaN                      NaN
3                               3              S                      NaN
4                               3              S                      NaN
...                           ...            ...                      ...
3727000                         0            NaN                      NaN
3727001                         0            NaN                      NaN
3727002                         0            NaN                      NaN
3727003                         0            NaN                      NaN
3727004                         1            NaN                      NaN

        Surface terrain
0                   NaN
1                   NaN
2                   NaN
3                 988.0
4                 835.0
...                 ...
3727000             NaN
3727001             NaN
3727002             NaN
3727003             NaN
3727004             NaN

[3727005 rows x 35 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               datetime64[ns]
 2   Nature mutation             object
 3   Valeur fonciere             float64
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   Int64
 8   Voie                        object
 9   Code postal                 Int64
 10  Commune                     object
 11  Code departement            Int64
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   float64
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  float64
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  float64
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  float64
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  float64
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   Int64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: Int64(4), datetime64[ns](1), float64(12), int64(4), object(14)
memory usage: 1009.4+ MB
None

### Drop Colonnes

In [ ]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [ ]:
colonnes_to_drop = ['No disposition','No voie', 'Prefixe de section', 'Section', 'No plan', 'No Volume', '1er lot', '2eme lot', '3eme lot',  '4eme lot', '5eme lot', 'Code type local', 'Nature culture', 'Nature culture speciale']
df = df.drop(columns=colonnes_to_drop)

In [ ]:
print(df.columns)

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere', 'B/T/Q',
       'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune',
       'Code departement', 'Code commune', 'Surface Carrez du 1er lot',
       'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot',
       'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Type local', 'Surface reelle bati',
       'Nombre pieces principales', 'Surface terrain'],
      dtype='object')

### Remplacer valeurs manquantes (pour les surfaces carrez)

In [ ]:
# Avant
SurfCarrez1 = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1) # on voit qu'il y a des valeurs manquantes
# pareil pour 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot'

[nan]

In [ ]:
# Après
df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']] = df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].fillna(0)
SurfCarrez1_sansNaN = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1_sansNaN)

[0.]

### Somme Surface Carrez

In [ ]:
print(df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].info())

df['Surface Carrez total'] = df[colonnes_surfacecarrez].sum(axis=1)

print(df[['Surface Carrez total']].head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Surface Carrez du 1er lot   float64
 1   Surface Carrez du 2eme lot  float64
 2   Surface Carrez du 3eme lot  float64
 3   Surface Carrez du 4eme lot  float64
 4   Surface Carrez du 5eme lot  float64
dtypes: float64(5)
memory usage: 142.2 MB
None
    Surface Carrez total
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
5                    0.0
6                    0.0
7                    0.0
8                    0.0
9                    0.0
10                   0.0
11                   0.0
12                   0.0
13                   0.0
14                   0.0
15                   0.0
16                   0.0
17                   0.0
18                   0.0
19                   0.0

### Drop colonnes surface carrez des lots

In [ ]:
df=df.drop(columns=colonnes_surfacecarrez)

In [ ]:
print(df.columns)

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere', 'B/T/Q',
       'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune',
       'Code departement', 'Code commune', 'Nombre de lots', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Surface terrain',
       'Surface Carrez total'],
      dtype='object')

In [ ]:
print(df.shape)

(3727005, 17)

In [ ]:
df_cleancol=df

### Fusion Adresse

Valeurs manquantes

In [432]:
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].astype(str).fillna('')
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].replace('nan', '')
df['Code voie'] = df['Code voie'].replace('NA', '')

In [451]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   float64
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            float64
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(10), int64(4), object(21)
memory usage: 995.2+ MB

In [438]:
# verif qu'il n'y a plus de NA ou 'nan'
print(df['B/T/Q'].unique())
print(df['Code voie'].unique())
print(df['Type de voie'].unique())
print(df['Code postal'].unique())
print(df['Commune'].unique())
print(df['Commune'].isnull().sum())

['' 'T' 'A' 'B' '2' 'D' 'G' 'C' 'F' 'Z' 'Q' 'E' 'H' 'J' 'I' 'N' 'L' 'P'
 'O' 'R' 'W' 'Y' '1' 'M' 'X' 'K' 'U' 'V' '7' '3' 'S' '5' '9' '4' '0' '8'
 '6' '*' '-' '.']
['124' '107' '40' ... '9397' '9762' '9466']
['ALL' 'RTE' 'CHE' 'RUE' '' 'AV' 'IMP' 'BD' 'CHEM' 'QUAI' 'VC' 'GR' 'PL'
 'LOT' 'MTE' 'CRS' 'FG' 'CLOS' 'D' 'PAS' 'VOIE' 'RLE' 'RUET' 'PTR' 'PARC'
 'PROM' 'RES' 'MAIL' 'COUR' 'COTE' 'PCH' 'CITE' 'PLA' 'HAM' 'PRT' 'ZA'
 'VCHE' 'GPL' 'ZI' 'SQ' 'SEN' 'CHS' 'CR' 'QUA' 'REM' 'FRM' 'N' 'RPT' 'VLA'
 'RPE' 'ZAC' 'PTE' 'ECL' 'ESPA' 'VGE' 'TRA' 'PASS' 'CD' 'DOM' 'DIG' 'ESC'
 'VTE' 'DRA' 'COR' 'ESP' 'ART' 'GAL' 'HLM' 'VALL' 'ACH' 'ILOT' 'CAMI'
 'CAE' 'BRTL' 'PLE' 'PTTE' 'PAE' 'DSC' 'CALL' 'TSSE' 'VAL' 'RTD' 'CAR'
 'RIVE' 'VEN' 'ZONE' 'CHT' 'AUT' 'ENC' 'AGL' 'CTRE' 'CPG' 'PORT' 'MAIS'
 'PLAN' 'TOUR' 'PLAG' 'MAR' 'CC' 'HAB' 'EMBR' 'PONT' 'ROC' 'CAN' 'CHV'
 'CRX' 'BSN' 'ZAD' 'VIL' 'LEVE' 'PRV' 'PLCI' 'PKG' 'VIA' 'CF' 'PIST' 'CTR'
 'TRT' 'RAC' 'BER' 'PLT' 'BRG' 'CORO' 'VOIR' 'CASR' 'BRE' 'NTE' 'CHL'
 'CLR' 'COL' 'VOY' 'LICE' 'HLG' 'JARD' 'BORD' 'MRN']
['1630' '1450' '1800' ... '75012' '75007' '75005']
['ST-GENIS-POUILLY' 'SERRIERES-SUR-AIN' 'SAINT-JEAN-DE-NIOST' ...
 'PARIS 07' 'PARIS 16' 'PARIS 05']
0

Fusion adresse

In [439]:
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Code voie     object
 1   B/T/Q         object
 2   Type de voie  object
 3   Voie          object
 4   Code postal   object
 5   Commune       object
dtypes: object(6)
memory usage: 170.6+ MB

In [440]:
df['Adresse'] = df['Code voie'] + ' ' + df['B/T/Q'] + ' '  + df['Type de voie'] + ' ' + df['Voie'] + ' ' + df['Code postal'] + ' ' + df['Commune']
print(df['Adresse'])

0               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3               107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4          40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
                                ...
3727000           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727001           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727002           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727003       8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004       8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
Name: Adresse, Length: 3727005, dtype: object

Supp Elements d'adresse

In [441]:
#Suppr Elements d'adresse inutiles
df=df.drop(columns=['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune'])
print(df)

        Date mutation Nature mutation  Valeur fonciere  Code departement  \
0          2023-01-05           Vente      107000000.0                 1
1          2023-01-05           Vente      107000000.0                 1
2          2023-01-05           Vente      107000000.0                 1
3          2023-01-03           Vente       15220000.0                 1
4          2023-01-05           Vente       26900000.0                 1
...               ...             ...              ...               ...
3727000    2023-10-05    Adjudication      393100000.0                75
3727001    2023-10-05    Adjudication      393100000.0                75
3727002    2023-10-05    Adjudication      393100000.0                75
3727003    2023-12-28           Vente        9825000.0                75
3727004    2023-12-28           Vente        9825000.0                75

         Code commune  Nombre de lots   Type local  Surface reelle bati  \
0                 354               1   Dépendance                  0.0
1                 354               1   Dépendance                  0.0
2                 354               1  Appartement                233.0
3                 404               0       Maison                 64.0
4                 361               0       Maison                 73.0
...               ...             ...          ...                  ...
3727000           107               1   Dépendance                  0.0
3727001           107               1   Dépendance                  0.0
3727002           107               1   Dépendance                  0.0
3727003           115               1   Dépendance                  0.0
3727004           115               1  Appartement                 18.0

         Nombre pieces principales  Surface terrain  Surface Carrez total  \
0                                0              NaN                   0.0
1                                0              NaN                   0.0
2                                8              NaN                   0.0
3                                3            988.0                   0.0
4                                3            835.0                   0.0
...                            ...              ...                   ...
3727000                          0              NaN                   0.0
3727001                          0              NaN                   0.0
3727002                          0              NaN                   0.0
3727003                          0              NaN                   0.0
3727004                          1              NaN                   0.0

                                                Adresse
0             124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1             124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2             124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3             107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4        40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
...                                                 ...
3727000         1832  AV CHARLES FLOQUET 75007 PARIS 07
3727001         1832  AV CHARLES FLOQUET 75007 PARIS 07
3727002         1832  AV CHARLES FLOQUET 75007 PARIS 07
3727003     8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004     8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15

[3727005 rows x 12 columns]

### GroupBy

Supprimer les duplications

In [442]:
df_noduppl=df.drop_duplicates()

groupby Data et Adresse :

In [443]:
group_df = df_noduppl.groupby(['Date mutation', 'Adresse']).agg({
    'Valeur fonciere': 'first',
    'Code departement': 'first',
    'Code commune': 'first',
    'Nombre de lots': 'sum',
    'Type local': lambda x: ', '.join(x.dropna().unique()),
    'Surface Carrez total': 'sum',
    'Surface reelle bati': 'sum',
    'Nombre pieces principales': 'sum', 
    'Surface terrain': 'sum'
}).reset_index()

In [452]:
print(group_df)

        Date mutation                               Adresse  Valeur fonciere  \
0          2023-01-01      <NA>   CHAMP PEJUS 53410 BOURGON        6000000.0
1          2023-01-01   <NA>   LA FRILLONIERE 53410 BOURGON        6000000.0
2          2023-01-01    <NA>   LE CHATELLIER 53410 BOURGON        6000000.0
3          2023-01-01     <NA>   LE CHAUFFAUD 53410 BOURGON        6000000.0
4          2023-01-01   <NA>   PRE DES LANDES 53410 BOURGON        6000000.0
...               ...                                   ...              ...
1614604    2023-12-31        <NA>   LES LAURONS 26110 NYONS      149000000.0
1614605    2023-12-31       <NA>   PRE AU MOINE 44260 BOUEE        1033527.0
1614606    2023-12-31  <NA>   PRES DES CHATEAUX 44260 BOUEE        1033527.0
1614607    2023-12-31     <NA>   ROCHE TORIN 50220 COURTILS          10000.0
1614608    2023-12-31  <NA> A RES LES CRISTAUX 11560 FLEURY        8500000.0

         Code departement  Code commune  Nombre de lots  \
0                      53            40               0
1                      53            40               0
2                      53            40               0
3                      53            40               0
4                      53            40               0
...                   ...           ...             ...
1614604                26           220               0
1614605                44            19               0
1614606                44            19               0
1614607                50           146               0
1614608                11           145               2

                      Type local  Surface Carrez total  Surface reelle bati  \
0                                                  0.0                  0.0
1                                                  0.0                  0.0
2                                                  0.0                  0.0
3                                                  0.0                  0.0
4                                                  0.0                  0.0
...                          ...                   ...                  ...
1614604                                            0.0                  0.0
1614605                                            0.0                  0.0
1614606                                            0.0                  0.0
1614607                                            0.0                  0.0
1614608  Dépendance, Appartement                   0.0                 24.0

         Nombre pieces principales  Surface terrain
0                                0          66150.0
1                                0          20363.0
2                                0          18461.0
3                                0           3722.0
4                                0          33659.0
...                            ...              ...
1614604                          0            700.0
1614605                          0           6533.0
1614606                          0          63340.0
1614607                          0            960.0
1614608                          1              0.0

[1614609 rows x 11 columns]

In [ ]:
"""df_grouped=group_df.groupby(['Adresse', 'Date mutation'])['Valeur fonciere'].mean().round(1)
# arrondi pour enlever la notation scientifique
print(df_grouped)"""

Adresse                                             Date mutation
1  CHE DE LA LEVEE 1340 JAYAT                       2023-12-08       18000000.0
1  CHEM DES AUBEPINES 1240 CERTINES                 2023-07-21       20600000.0
                                                    2023-10-06       22400000.0
1  RTE D ATTIGNAT 1310 POLLIAT                      2023-02-02       14700000.0
                                                    2023-04-13       28390000.0
                                                                        ...
<NA> B LOT LES ORMEAUX 1500 CHATEAU-GAILLARD        2023-07-31       28600000.0
<NA> C  PENTE A GACHY 1250 CORVEISSIAT              2023-02-27       13900000.0
<NA> C CLOS JOSEPH GEOFFRAY 1800 RIGNIEUX-LE-FRANC  2023-04-14       19188431.0
<NA> D  PENTE A GACHY 1250 CORVEISSIAT              2023-11-16       11100000.0
<NA> T  ORGENT 1270 COLIGNY                         2023-07-24       34300000.0
Name: Valeur fonciere, Length: 18100, dtype: float64

### Région IDF :

https://www.delftstack.com/fr/howto/python-pandas/how-to-filter-dataframe-rows-based-on-column-values-in-pandas/

In [ ]:
regionidf={1}
region_1={75,77,78,91,92,93,94,95}
df_regionidf= group_df[group_df["Code departement"].isin(regionidf)]

In [ ]:
print(df_regionidf.head(10))

   Date mutation Nature mutation  Valeur fonciere  Code departement  \
0     2023-01-05           Vente      107000000.0                 1
3     2023-01-03           Vente       15220000.0                 1
4     2023-01-05           Vente       26900000.0                 1
7     2023-01-03           Vente       77000000.0                 1
8     2023-01-06           Vente         682000.0                 1
9     2023-01-06         Echange        1004000.0                 1
13    2023-01-06           Vente        8552000.0                 1
14    2023-01-06           Vente        8552000.0                 1
16    2023-01-04           Vente       33500000.0                 1
18    2023-01-04           Vente         850000.0                 1

    Code commune  Nombre de lots  Type local  Surface reelle bati  \
0            354               1  Dépendance                  0.0
3            404               0      Maison                 64.0
4            361               0      Maison                 73.0
7            281               0      Maison                136.0
8            446               0         NaN                  NaN
9              4               0         NaN                  NaN
13            24               0         NaN                  NaN
14            24               0      Maison                160.0
16           152               0      Maison                106.0
18           408               0         NaN                  NaN

    Nombre pieces principales  Surface terrain  Surface Carrez total lots  \
0                           0              NaN                        0.0
3                           3            988.0                        0.0
4                           3            835.0                        0.0
7                           7            921.0                        0.0
8                        <NA>          17050.0                        0.0
9                        <NA>            124.0                        0.0
13                       <NA>             63.0                        0.0
14                          5              NaN                        0.0
16                          6           1500.0                        0.0
18                       <NA>            159.0                        0.0

                                            Adresse
0         124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3         107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4    40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
7           151 A RUE DU PARC DE VILLARD 1210 ORNEX
8              <NA>   ETANG DU BOIS 1480 VILLENEUVE
9        <NA>   CARRE ROCHER 1500 AMBERIEU-EN-BUGEY
13                   <NA>   VACAGNOLE 1340 ATTIGNAT
14  380  CHE DE LA CROIX DE VACAGNOLE 1340 ATTIGNAT
16                 100  RUE DU VERGER 1130 ECHALLON
18    <NA>   PETIT SIMANDRE 1250 SIMANDRE-SUR-SURAN

In [ ]:
print(df_regionidf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 18100 entries, 0 to 40969
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date mutation              18100 non-null  datetime64[ns]
 1   Nature mutation            18100 non-null  object
 2   Valeur fonciere            18034 non-null  float64
 3   Code departement           18100 non-null  Int64
 4   Code commune               18100 non-null  int64
 5   Nombre de lots             18100 non-null  int64
 6   Type local                 8463 non-null   object
 7   Surface reelle bati        8437 non-null   float64
 8   Nombre pieces principales  8437 non-null   Int64
 9   Surface terrain            13875 non-null  float64
 10  Surface Carrez total lots  18100 non-null  float64
 11  Adresse                    18100 non-null  object
dtypes: Int64(2), datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 1.8+ MB
None

In [ ]:
df_regionidf.columns

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere',
       'Code departement', 'Code commune', 'Nombre de lots', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Surface terrain',
       'Surface Carrez total lots', 'Adresse'],
      dtype='object')

In [ ]:
print(df_regionidf)

      Date mutation Nature mutation  Valeur fonciere  Code departement  \
0        2023-01-05           Vente      107000000.0                 1
3        2023-01-03           Vente       15220000.0                 1
4        2023-01-05           Vente       26900000.0                 1
7        2023-01-03           Vente       77000000.0                 1
8        2023-01-06           Vente         682000.0                 1
...             ...             ...              ...               ...
40928    2023-03-21    Adjudication       11060000.0                 1
40929    2023-09-05    Adjudication        4500000.0                 1
40931    2023-11-21    Adjudication       23210000.0                 1
40934    2023-10-17    Adjudication      200000000.0                 1
40969    2023-10-17    Adjudication        6100000.0                 1

       Code commune  Nombre de lots                                Type local  \
0               354               1                                Dépendance
3               404               0                                    Maison
4               361               0                                    Maison
7               281               0                                    Maison
8               446               0                                       NaN
...             ...             ...                                       ...
40928           457               0                                    Maison
40929            53               1  Local industriel. commercial ou assimilé
40931           173               3                                Dépendance
40934           160               1  Local industriel. commercial ou assimilé
40969           354               2  Local industriel. commercial ou assimilé

       Surface reelle bati  Nombre pieces principales  Surface terrain  \
0                      0.0                          0              NaN
3                     64.0                          3            988.0
4                     73.0                          3            835.0
7                    136.0                          7            921.0
8                      NaN                       <NA>          17050.0
...                    ...                        ...              ...
40928                 92.0                          3           1020.0
40929                 37.0                          0              NaN
40931                  0.0                          0              NaN
40934                 23.0                          0              NaN
40969                 53.0                          0              NaN

       Surface Carrez total lots  \
0                            0.0
3                            0.0
4                            0.0
7                            0.0
8                            0.0
...                          ...
40928                        0.0
40929                        0.0
40931                        0.0
40934                        0.0
40969                        0.0

                                              Adresse
0           124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3           107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4      40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
7             151 A RUE DU PARC DE VILLARD 1210 ORNEX
8                <NA>   ETANG DU BOIS 1480 VILLENEUVE
...                                               ...
40928                 38  CHE DU DERONTAY 1540 VONNAS
40929     2425  BD DU 8 MAI 1945 1000 BOURG-EN-BRESSE
40931                 1060  IMP DU BAILLIAGE 1170 GEX
40934   122  AV DES SABLONNIERES 1210 FERNEY-VOLTAIRE
40969    188  RUE BLAISE PASCAL 1630 ST-GENIS-POUILLY

[18100 rows x 12 columns]