### Import Source

In [215]:
import pandas as pd
import numpy as np

df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

#df_bool=df.notnull()
#df1=df["B/T/Q"].unique()
#df_btq=df[df["B/T/Q"]]
#print(df["B/T/Q"].where(df["B/T/Q"]=="T"))

C:\Users\Julie Mahot\AppData\Local\Temp\ipykernel_18760\1671847934.py:4: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

### Supprimer colonnes NaN

In [216]:
df = df.dropna(axis = 1, how = 'all')

### Affichage

In [217]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [218]:
print(df.head(10))

   No disposition Date mutation Nature mutation Valeur fonciere  No voie  \
0               1    05/01/2023           Vente      1070000,00    184.0
1               1    05/01/2023           Vente      1070000,00    159.0
2               1    05/01/2023           Vente      1070000,00    159.0
3               1    03/01/2023           Vente       152200,00   2914.0
4               1    05/01/2023           Vente       269000,00    427.0
5               1    05/01/2023           Vente       269000,00    427.0
6               1    05/01/2023           Vente       269000,00    427.0
7               1    03/01/2023           Vente       770000,00    159.0
8               1    06/01/2023           Vente         6820,00      NaN
9               2    06/01/2023         Echange        10040,00      NaN

  B/T/Q Type de voie Code voie                Voie  Code postal  ... 5eme lot  \
0   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
1   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
2   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
3   NaN          RTE      0107           DE PONCIN       1450.0  ...      NaN
4     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
5     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
6     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
7     A          RUE      0151  DU PARC DE VILLARD       1210.0  ...      NaN
8   NaN          NaN      B062       ETANG DU BOIS       1480.0  ...      NaN
9   NaN          NaN      B044        CARRE ROCHER       1500.0  ...      NaN

  Surface Carrez du 5eme lot  Nombre de lots  Code type local   Type local  \
0                        NaN               1              3.0   Dépendance
1                        NaN               1              3.0   Dépendance
2                        NaN               1              2.0  Appartement
3                        NaN               0              1.0       Maison
4                        NaN               0              1.0       Maison
5                        NaN               0              3.0   Dépendance
6                        NaN               0              3.0   Dépendance
7                        NaN               0              1.0       Maison
8                        NaN               0              NaN          NaN
9                        NaN               0              NaN          NaN

   Surface reelle bati Nombre pieces principales Nature culture  \
0                  0.0                       0.0            NaN
1                  0.0                       0.0            NaN
2                233.0                       8.0            NaN
3                 64.0                       3.0              S
4                 73.0                       3.0              S
5                  0.0                       0.0              S
6                  0.0                       0.0              S
7                136.0                       7.0              S
8                  NaN                       NaN              T
9                  NaN                       NaN             BT

  Nature culture speciale Surface terrain
0                     NaN             NaN
1                     NaN             NaN
2                     NaN             NaN
3                     NaN           988.0
4                     NaN           835.0
5                     NaN           835.0
6                     NaN           835.0
7                     NaN           921.0
8                     NaN         17050.0
9                     NaN           124.0

[10 rows x 35 columns]

In [219]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(8), int64(4), object(23)
memory usage: 995.2+ MB
None

### Changement Types

In [223]:
# Changement Type Adresse
colonnes_to_convert = ['Code postal', 'Nombre pieces principales']

for column in colonnes_to_convert:
        df[column] = pd.to_numeric(df[column])

#Changement Type en int des codes N°
df = df.astype({
    'Code postal' : 'Int64',
    'Nombre pieces principales' :'Int64',
})

In [224]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 Int64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   Int64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: Int64(2), float64(6), int64(4), object(23)
memory usage: 1002.3+ MB

In [225]:
# Changement Type Valeur foncière
df["Valeur fonciere"] = pd.to_numeric(df['Valeur fonciere'].str.replace(',', '.'))

In [226]:
# Changement Type surfaces carrez des lots
colonnes_surfacecarrez = [
    'Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 
    'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 
    'Surface Carrez du 5eme lot'
]

for col in colonnes_surfacecarrez:
    df[col] = pd.to_numeric(df[col].str.replace(',', '.'))

In [227]:
df['Surface Carrez du 1er lot'] = df['Surface Carrez du 1er lot'].fillna(0)

# Filtrer les lignes où c'est différent de 0
df_filtre = df[df['Surface Carrez du 1er lot'] != 0]
print(df_filtre['Surface Carrez du 1er lot'])

62         20.10
63         76.94
64         76.94
99         13.00
100        53.00
           ...
3726980    27.50
3726981    27.50
3726982    73.00
3726983    73.00
3726988    25.08
Name: Surface Carrez du 1er lot, Length: 330096, dtype: float64

In [228]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             float64
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 Int64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   float64
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  float64
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  float64
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  float64
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  float64
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   Int64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: Int64(2), float64(12), int64(4), object(17)
memory usage: 1002.3+ MB
None

### Drop Colonnes

In [229]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [235]:
print(df)

         No disposition Date mutation Nature mutation  Valeur fonciere  \
0                     1    05/01/2023           Vente        1070000.0
1                     1    05/01/2023           Vente        1070000.0
2                     1    05/01/2023           Vente        1070000.0
3                     1    03/01/2023           Vente         152200.0
4                     1    05/01/2023           Vente         269000.0
...                 ...           ...             ...              ...
3727000               1    05/10/2023    Adjudication        3931000.0
3727001               1    05/10/2023    Adjudication        3931000.0
3727002               1    05/10/2023    Adjudication        3931000.0
3727003               1    28/12/2023           Vente          98250.0
3727004               1    28/12/2023           Vente          98250.0

         No voie B/T/Q Type de voie Code voie               Voie  Code postal  \
0          184.0   NaN          ALL      0124         DES HETRES         1630
1          159.0   NaN          ALL      0124         DES HETRES         1630
2          159.0   NaN          ALL      0124         DES HETRES         1630
3         2914.0   NaN          RTE      0107          DE PONCIN         1450
4          427.0     T          CHE      0040       DE L'AUBEPIN         1800
...          ...   ...          ...       ...                ...          ...
3727000     39.0   NaN           AV    1832.0    CHARLES FLOQUET        75007
3727001     39.0   NaN           AV    1832.0    CHARLES FLOQUET        75007
3727002     39.0   NaN           AV    1832.0    CHARLES FLOQUET        75007
3727003     66.0     B          RUE    8892.0  SEBASTIEN MERCIER        75015
3727004     66.0     B          RUE    8892.0  SEBASTIEN MERCIER        75015

         ... 5eme lot Surface Carrez du 5eme lot  Nombre de lots  \
0        ...      NaN                        NaN               1
1        ...      NaN                        NaN               1
2        ...      NaN                        NaN               1
3        ...      NaN                        NaN               0
4        ...      NaN                        NaN               0
...      ...      ...                        ...             ...
3727000  ...      NaN                        NaN               1
3727001  ...      NaN                        NaN               1
3727002  ...      NaN                        NaN               1
3727003  ...      NaN                        NaN               1
3727004  ...      NaN                        NaN               1

         Code type local   Type local  Surface reelle bati  \
0                    3.0   Dépendance                  0.0
1                    3.0   Dépendance                  0.0
2                    2.0  Appartement                233.0
3                    1.0       Maison                 64.0
4                    1.0       Maison                 73.0
...                  ...          ...                  ...
3727000              3.0   Dépendance                  0.0
3727001              3.0   Dépendance                  0.0
3727002              3.0   Dépendance                  0.0
3727003              3.0   Dépendance                  0.0
3727004              2.0  Appartement                 18.0

        Nombre pieces principales Nature culture  Nature culture speciale  \
0                               0            NaN                      NaN
1                               0            NaN                      NaN
2                               8            NaN                      NaN
3                               3              S                      NaN
4                               3              S                      NaN
...                           ...            ...                      ...
3727000                         0            NaN                      NaN
3727001                         0            NaN                      NaN
3727002                         0            NaN                      NaN
3727003                         0            NaN                      NaN
3727004                         1            NaN                      NaN

        Surface terrain
0                   NaN
1                   NaN
2                   NaN
3                 988.0
4                 835.0
...                 ...
3727000             NaN
3727001             NaN
3727002             NaN
3727003             NaN
3727004             NaN

[3727005 rows x 35 columns]

In [236]:
colonnes_to_drop = ['No disposition','No voie', 'Prefixe de section', 'Section', 'No plan', '1er lot', '2eme lot', '3eme lot',  '4eme lot', '5eme lot', 'Code type local', 'Nature culture', 'Nature culture speciale']
df = df.drop(columns=colonnes_to_drop)

print(df)

        Date mutation Nature mutation  Valeur fonciere B/T/Q Type de voie  \
0          05/01/2023           Vente        1070000.0   NaN          ALL
1          05/01/2023           Vente        1070000.0   NaN          ALL
2          05/01/2023           Vente        1070000.0   NaN          ALL
3          03/01/2023           Vente         152200.0   NaN          RTE
4          05/01/2023           Vente         269000.0     T          CHE
...               ...             ...              ...   ...          ...
3727000    05/10/2023    Adjudication        3931000.0   NaN           AV
3727001    05/10/2023    Adjudication        3931000.0   NaN           AV
3727002    05/10/2023    Adjudication        3931000.0   NaN           AV
3727003    28/12/2023           Vente          98250.0     B          RUE
3727004    28/12/2023           Vente          98250.0     B          RUE

        Code voie               Voie  Code postal              Commune  \
0            0124         DES HETRES         1630     ST-GENIS-POUILLY
1            0124         DES HETRES         1630     ST-GENIS-POUILLY
2            0124         DES HETRES         1630     ST-GENIS-POUILLY
3            0107          DE PONCIN         1450    SERRIERES-SUR-AIN
4            0040       DE L'AUBEPIN         1800  SAINT-JEAN-DE-NIOST
...           ...                ...          ...                  ...
3727000    1832.0    CHARLES FLOQUET        75007             PARIS 07
3727001    1832.0    CHARLES FLOQUET        75007             PARIS 07
3727002    1832.0    CHARLES FLOQUET        75007             PARIS 07
3727003    8892.0  SEBASTIEN MERCIER        75015             PARIS 15
3727004    8892.0  SEBASTIEN MERCIER        75015             PARIS 15

        Code departement  ...  Surface Carrez du 1er lot  \
0                      1  ...                        0.0
1                      1  ...                        0.0
2                      1  ...                        0.0
3                      1  ...                        0.0
4                      1  ...                        0.0
...                  ...  ...                        ...
3727000               75  ...                        0.0
3727001               75  ...                        0.0
3727002               75  ...                        0.0
3727003               75  ...                        0.0
3727004               75  ...                        0.0

        Surface Carrez du 2eme lot  Surface Carrez du 3eme lot  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
3727000                        NaN                         NaN
3727001                        NaN                         NaN
3727002                        NaN                         NaN
3727003                        NaN                         NaN
3727004                        NaN                         NaN

         Surface Carrez du 4eme lot  Surface Carrez du 5eme lot  \
0                               NaN                         NaN
1                               NaN                         NaN
2                               NaN                         NaN
3                               NaN                         NaN
4                               NaN                         NaN
...                             ...                         ...
3727000                         NaN                         NaN
3727001                         NaN                         NaN
3727002                         NaN                         NaN
3727003                         NaN                         NaN
3727004                         NaN                         NaN

         Nombre de lots   Type local  Surface reelle bati  \
0                     1   Dépendance                  0.0
1                     1   Dépendance                  0.0
2                     1  Appartement                233.0
3                     0       Maison                 64.0
4                     0       Maison                 73.0
...                 ...          ...                  ...
3727000               1   Dépendance                  0.0
3727001               1   Dépendance                  0.0
3727002               1   Dépendance                  0.0
3727003               1   Dépendance                  0.0
3727004               1  Appartement                 18.0

        Nombre pieces principales  Surface terrain
0                               0              NaN
1                               0              NaN
2                               8              NaN
3                               3            988.0
4                               3            835.0
...                           ...              ...
3727000                         0              NaN
3727001                         0              NaN
3727002                         0              NaN
3727003                         0              NaN
3727004                         1              NaN

[3727005 rows x 22 columns]

### Remplacer valeurs manquantes (pour les surfaces carrez)

In [238]:
# Avant
SurfCarrez1 = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1) # on voit qu'il y a des valeurs manquantes
# pareil pour 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot'

[  0.    20.1   76.94 ... 403.76 199.38 175.58]

In [239]:
# Après
df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']] = df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].fillna(0)
SurfCarrez1_sansNaN = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1_sansNaN)

[  0.    20.1   76.94 ... 403.76 199.38 175.58]

### Somme Surface Carrez

In [240]:
print(df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].info())

df['Surface Carrez total'] = df[colonnes_surfacecarrez].sum(axis=1)

print(df[['Surface Carrez total']].head(65))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Surface Carrez du 1er lot   float64
 1   Surface Carrez du 2eme lot  float64
 2   Surface Carrez du 3eme lot  float64
 3   Surface Carrez du 4eme lot  float64
 4   Surface Carrez du 5eme lot  float64
dtypes: float64(5)
memory usage: 142.2 MB
None
    Surface Carrez total
0                   0.00
1                   0.00
2                   0.00
3                   0.00
4                   0.00
..                   ...
60                  0.00
61                  0.00
62                 20.10
63                 76.94
64                 76.94

[65 rows x 1 columns]

In [241]:
print(df['Surface Carrez du 1er lot'].unique())

[  0.    20.1   76.94 ... 403.76 199.38 175.58]

In [242]:
#supprimons les lignes qui ont 0
df['Surface Carrez du 1er lot'] = df['Surface Carrez du 1er lot'].fillna(0)

# Filtrer les lignes où c'est différent de 0
df_filtre = df[df['Surface Carrez du 1er lot'] != 0]
print(df_filtre['Surface Carrez du 1er lot'].shape)

(330096,)

In [243]:
df['Surface Carrez total'] = df['Surface Carrez total'].fillna(0)
df_surfaceCarrez = df[df['Surface Carrez total'] != 0]
print(df_surfaceCarrez['Surface Carrez total'])

62         20.10
63         76.94
64         76.94
89         87.00
90         87.00
           ...
3726982    73.00
3726983    73.00
3726985    65.05
3726986    65.05
3726988    25.08
Name: Surface Carrez total, Length: 445692, dtype: float64

### Drop colonnes surface carrez des lots

In [244]:
df=df.drop(columns=colonnes_surfacecarrez)

In [245]:
print(df.columns)

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere', 'B/T/Q',
       'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune',
       'Code departement', 'Code commune', 'No Volume', 'Nombre de lots',
       'Type local', 'Surface reelle bati', 'Nombre pieces principales',
       'Surface terrain', 'Surface Carrez total'],
      dtype='object')

In [246]:
print(df.shape)

(3727005, 18)

### Fusion Adresse

Valeurs manquantes

In [247]:
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].astype(str).fillna('')
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].replace('nan', '')

In [248]:
# verif qu'il n'y a plus de NA ou 'nan'
print(df['B/T/Q'].unique())
print(df['Code voie'].unique())
print(df['Type de voie'].unique())
print(df['Code postal'].unique())
print(df['Commune'].unique())

['' 'T' 'A' 'B' '2' 'D' 'G' 'C' 'F' 'Z' 'Q' 'E' 'H' 'J' 'I' 'N' 'L' 'P'
 'O' 'R' 'W' 'Y' '1' 'M' 'X' 'K' 'U' 'V' '7' '3' 'S' '5' '9' '4' '0' '8'
 '6' '*' '-' '.']
['0124' '0107' '0040' ... '7036.0' '7968.0' '1996.0']
['ALL' 'RTE' 'CHE' 'RUE' '' 'AV' 'IMP' 'BD' 'CHEM' 'QUAI' 'VC' 'GR' 'PL'
 'LOT' 'MTE' 'CRS' 'FG' 'CLOS' 'D' 'PAS' 'VOIE' 'RLE' 'RUET' 'PTR' 'PARC'
 'PROM' 'RES' 'MAIL' 'COUR' 'COTE' 'PCH' 'CITE' 'PLA' 'HAM' 'PRT' 'ZA'
 'VCHE' 'GPL' 'ZI' 'SQ' 'SEN' 'CHS' 'CR' 'QUA' 'REM' 'FRM' 'N' 'RPT' 'VLA'
 'RPE' 'ZAC' 'PTE' 'ECL' 'ESPA' 'VGE' 'TRA' 'PASS' 'CD' 'DOM' 'DIG' 'ESC'
 'VTE' 'DRA' 'COR' 'ESP' 'ART' 'GAL' 'HLM' 'VALL' 'ACH' 'ILOT' 'CAMI'
 'CAE' 'BRTL' 'PLE' 'PTTE' 'PAE' 'DSC' 'CALL' 'TSSE' 'VAL' 'RTD' 'CAR'
 'RIVE' 'VEN' 'ZONE' 'CHT' 'AUT' 'ENC' 'AGL' 'CTRE' 'CPG' 'PORT' 'MAIS'
 'PLAN' 'TOUR' 'PLAG' 'MAR' 'CC' 'HAB' 'EMBR' 'PONT' 'ROC' 'CAN' 'CHV'
 'CRX' 'BSN' 'ZAD' 'VIL' 'LEVE' 'PRV' 'PLCI' 'PKG' 'VIA' 'CF' 'PIST' 'CTR'
 'TRT' 'RAC' 'BER' 'PLT' 'BRG' 'CORO' 'VOIR' 'CASR' 'BRE' 'NTE' 'CHL'
 'CLR' 'COL' 'VOY' 'LICE' 'HLG' 'JARD' 'BORD' 'MRN']
['1630' '1450' '1800' ... '75012' '75007' '75005']
['ST-GENIS-POUILLY' 'SERRIERES-SUR-AIN' 'SAINT-JEAN-DE-NIOST' ...
 'PARIS 07' 'PARIS 16' 'PARIS 05']

Fusion adresse

In [249]:

#df['adresse']=
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Code voie     object
 1   B/T/Q         object
 2   Type de voie  object
 3   Voie          object
 4   Code postal   object
 5   Commune       object
dtypes: object(6)
memory usage: 170.6+ MB

In [250]:
df['Adresse'] = df['Code voie'] + ' ' + df['B/T/Q'] + ' '  + df['Type de voie'] + ' ' + df['Voie'] + ' ' + df['Code postal'] + ' ' + df['Commune']
print(df['Adresse'])

0                0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1                0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2                0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3                0107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4          0040 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
                                 ...
3727000           1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727001           1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727002           1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727003       8892.0 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004       8892.0 B RUE SEBASTIEN MERCIER 75015 PARIS 15
Name: Adresse, Length: 3727005, dtype: object

Supp Elements d'adresse

In [251]:
#Suppr Elements d'adresse
df=df.drop(columns=['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune','Code commune'])
print(df)

        Date mutation Nature mutation  Valeur fonciere Code departement  \
0          05/01/2023           Vente        1070000.0                1
1          05/01/2023           Vente        1070000.0                1
2          05/01/2023           Vente        1070000.0                1
3          03/01/2023           Vente         152200.0                1
4          05/01/2023           Vente         269000.0                1
...               ...             ...              ...              ...
3727000    05/10/2023    Adjudication        3931000.0               75
3727001    05/10/2023    Adjudication        3931000.0               75
3727002    05/10/2023    Adjudication        3931000.0               75
3727003    28/12/2023           Vente          98250.0               75
3727004    28/12/2023           Vente          98250.0               75

        No Volume  Nombre de lots   Type local  Surface reelle bati  \
0             NaN               1   Dépendance                  0.0
1             NaN               1   Dépendance                  0.0
2             NaN               1  Appartement                233.0
3             NaN               0       Maison                 64.0
4             NaN               0       Maison                 73.0
...           ...             ...          ...                  ...
3727000       NaN               1   Dépendance                  0.0
3727001       NaN               1   Dépendance                  0.0
3727002       NaN               1   Dépendance                  0.0
3727003       NaN               1   Dépendance                  0.0
3727004       NaN               1  Appartement                 18.0

         Nombre pieces principales  Surface terrain  Surface Carrez total  \
0                                0              NaN                   0.0
1                                0              NaN                   0.0
2                                8              NaN                   0.0
3                                3            988.0                   0.0
4                                3            835.0                   0.0
...                            ...              ...                   ...
3727000                          0              NaN                   0.0
3727001                          0              NaN                   0.0
3727002                          0              NaN                   0.0
3727003                          0              NaN                   0.0
3727004                          1              NaN                   0.0

                                                  Adresse
0              0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1              0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2              0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3              0107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4        0040 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
...                                                   ...
3727000         1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727001         1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727002         1832.0  AV CHARLES FLOQUET 75007 PARIS 07
3727003     8892.0 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004     8892.0 B RUE SEBASTIEN MERCIER 75015 PARIS 15

[3727005 rows x 12 columns]

### GroupBy

Supprimer les duplications

In [252]:
df_noduppl=df.drop_duplicates()

In [253]:
group_df = df_noduppl.groupby(['Date mutation', 'Adresse']).agg({
    'Valeur fonciere': 'first',
    'Code departement': 'first',
    'Nombre de lots': 'sum',
    'Type local': lambda x: ', '.join(x.dropna().unique()),
    'Surface Carrez total': 'sum',
    'Surface reelle bati': 'sum',
    'Nombre pieces principales': 'sum', 
    'Surface terrain': 'sum'
}).reset_index()

In [254]:
print(group_df)

        Date mutation                                       Adresse  \
0          01/01/2023              B174   CHAMP PEJUS 53410 BOURGON
1          01/01/2023            B194   LE CHATELLIER 53410 BOURGON
2          01/01/2023             B195   LE CHAUFFAUD 53410 BOURGON
3          01/01/2023           B308   LA FRILLONIERE 53410 BOURGON
4          01/01/2023           B765   PRE DES LANDES 53410 BOURGON
...               ...                                           ...
1614783    31/12/2023                B145   LA VILLE 73340 LE NOYER
1614784    31/12/2023             B173   ROCHE TORIN 50220 COURTILS
1614785    31/12/2023               B273   PRE AU MOINE 44260 BOUEE
1614786    31/12/2023          B321   PRES DES CHATEAUX 44260 BOUEE
1614787    31/12/2023  B433   LE MARAIS DE LA ROCHE 44360 CORDEMAIS

         Valeur fonciere Code departement  Nombre de lots Type local  \
0               60000.00               53               0
1               60000.00               53               0
2               60000.00               53               0
3               60000.00               53               0
4               60000.00               53               0
...                  ...              ...             ...        ...
1614783           560.00               73               0
1614784           100.00               50               0
1614785         10335.27               44               0
1614786         10335.27               44               0
1614787         10335.27               44               0

         Surface Carrez total  Surface reelle bati  Nombre pieces principales  \
0                         0.0                  0.0                          0
1                         0.0                  0.0                          0
2                         0.0                  0.0                          0
3                         0.0                  0.0                          0
4                         0.0                  0.0                          0
...                       ...                  ...                        ...
1614783                   0.0                  0.0                          0
1614784                   0.0                  0.0                          0
1614785                   0.0                  0.0                          0
1614786                   0.0                  0.0                          0
1614787                   0.0                  0.0                          0

         Surface terrain
0                66150.0
1                18461.0
2                 3722.0
3                20363.0
4                33659.0
...                  ...
1614783             16.0
1614784            960.0
1614785           6533.0
1614786          63340.0
1614787          24084.0

[1614788 rows x 10 columns]

### Région IDF :

https://www.delftstack.com/fr/howto/python-pandas/how-to-filter-dataframe-rows-based-on-column-values-in-pandas/

In [256]:
regionidf={1}
region_1={75,77,78,91,92,93,94,95}
df_regionidf= df[df["Code departement"].isin(regionidf)]

### Affichage Final IDF

In [262]:
df_regionidf.columns

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere',
       'Code departement', 'No Volume', 'Nombre de lots', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Surface terrain',
       'Surface Carrez total', 'Adresse'],
      dtype='object')

In [257]:
print(df_regionidf.head(10))

  Date mutation Nature mutation  Valeur fonciere Code departement No Volume  \
0    05/01/2023           Vente        1070000.0                1       NaN
1    05/01/2023           Vente        1070000.0                1       NaN
2    05/01/2023           Vente        1070000.0                1       NaN
3    03/01/2023           Vente         152200.0                1       NaN
4    05/01/2023           Vente         269000.0                1       NaN
5    05/01/2023           Vente         269000.0                1       NaN
6    05/01/2023           Vente         269000.0                1       NaN
7    03/01/2023           Vente         770000.0                1       NaN
8    06/01/2023           Vente           6820.0                1       NaN
9    06/01/2023         Echange          10040.0                1       NaN

   Nombre de lots   Type local  Surface reelle bati  \
0               1   Dépendance                  0.0
1               1   Dépendance                  0.0
2               1  Appartement                233.0
3               0       Maison                 64.0
4               0       Maison                 73.0
5               0   Dépendance                  0.0
6               0   Dépendance                  0.0
7               0       Maison                136.0
8               0          NaN                  NaN
9               0          NaN                  NaN

   Nombre pieces principales  Surface terrain  Surface Carrez total  \
0                          0              NaN                   0.0
1                          0              NaN                   0.0
2                          8              NaN                   0.0
3                          3            988.0                   0.0
4                          3            835.0                   0.0
5                          0            835.0                   0.0
6                          0            835.0                   0.0
7                          7            921.0                   0.0
8                       <NA>          17050.0                   0.0
9                       <NA>            124.0                   0.0

                                            Adresse
0        0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1        0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2        0124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3        0107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4  0040 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
5  0040 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
6  0040 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
7          0151 A RUE DU PARC DE VILLARD 1210 ORNEX
8              B062   ETANG DU BOIS 1480 VILLENEUVE
9        B044   CARRE ROCHER 1500 AMBERIEU-EN-BUGEY

In [258]:
print(df_regionidf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 40970 entries, 0 to 40969
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date mutation              40970 non-null  object
 1   Nature mutation            40970 non-null  object
 2   Valeur fonciere            40732 non-null  float64
 3   Code departement           40970 non-null  object
 4   No Volume                  90 non-null     object
 5   Nombre de lots             40970 non-null  int64
 6   Type local                 19112 non-null  object
 7   Surface reelle bati        19058 non-null  float64
 8   Nombre pieces principales  19058 non-null  Int64
 9   Surface terrain            30204 non-null  float64
 10  Surface Carrez total       40970 non-null  float64
 11  Adresse                    40970 non-null  object
dtypes: Int64(1), float64(4), int64(1), object(6)
memory usage: 4.1+ MB
None