### Import Source

In [103]:
import pandas as pd
import numpy as np

df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

#df_bool=df.notnull()
#df1=df["B/T/Q"].unique()
#df_btq=df[df["B/T/Q"]]
#print(df["B/T/Q"].where(df["B/T/Q"]=="T"))

C:\Users\Julie Mahot\AppData\Local\Temp\ipykernel_9968\1671847934.py:4: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("valeursfoncieres-2023.txt",sep="|")

### Supprimer colonnes NaN

In [104]:
df = df.dropna(axis = 1, how = 'all')

### Affichage

In [105]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [106]:
print(df.head(10))

   No disposition Date mutation Nature mutation Valeur fonciere  No voie  \
0               1    05/01/2023           Vente      1070000,00    184.0
1               1    05/01/2023           Vente      1070000,00    159.0
2               1    05/01/2023           Vente      1070000,00    159.0
3               1    03/01/2023           Vente       152200,00   2914.0
4               1    05/01/2023           Vente       269000,00    427.0
5               1    05/01/2023           Vente       269000,00    427.0
6               1    05/01/2023           Vente       269000,00    427.0
7               1    03/01/2023           Vente       770000,00    159.0
8               1    06/01/2023           Vente         6820,00      NaN
9               2    06/01/2023         Echange        10040,00      NaN

  B/T/Q Type de voie Code voie                Voie  Code postal  ... 5eme lot  \
0   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
1   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
2   NaN          ALL      0124          DES HETRES       1630.0  ...      NaN
3   NaN          RTE      0107           DE PONCIN       1450.0  ...      NaN
4     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
5     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
6     T          CHE      0040        DE L'AUBEPIN       1800.0  ...      NaN
7     A          RUE      0151  DU PARC DE VILLARD       1210.0  ...      NaN
8   NaN          NaN      B062       ETANG DU BOIS       1480.0  ...      NaN
9   NaN          NaN      B044        CARRE ROCHER       1500.0  ...      NaN

  Surface Carrez du 5eme lot  Nombre de lots  Code type local   Type local  \
0                        NaN               1              3.0   Dépendance
1                        NaN               1              3.0   Dépendance
2                        NaN               1              2.0  Appartement
3                        NaN               0              1.0       Maison
4                        NaN               0              1.0       Maison
5                        NaN               0              3.0   Dépendance
6                        NaN               0              3.0   Dépendance
7                        NaN               0              1.0       Maison
8                        NaN               0              NaN          NaN
9                        NaN               0              NaN          NaN

   Surface reelle bati Nombre pieces principales Nature culture  \
0                  0.0                       0.0            NaN
1                  0.0                       0.0            NaN
2                233.0                       8.0            NaN
3                 64.0                       3.0              S
4                 73.0                       3.0              S
5                  0.0                       0.0              S
6                  0.0                       0.0              S
7                136.0                       7.0              S
8                  NaN                       NaN              T
9                  NaN                       NaN             BT

  Nature culture speciale Surface terrain
0                     NaN             NaN
1                     NaN             NaN
2                     NaN             NaN
3                     NaN           988.0
4                     NaN           835.0
5                     NaN           835.0
6                     NaN           835.0
7                     NaN           921.0
8                     NaN         17050.0
9                     NaN           124.0

[10 rows x 35 columns]

In [107]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(8), int64(4), object(23)
memory usage: 995.2+ MB
None

### Changement Types

In [108]:
colonnes_to_convert = ['No voie', 'Code voie', 'Code postal', 'Code departement', 'Nombre pieces principales']

for column in colonnes_to_convert:
        df[column] = pd.to_numeric(df[column],errors='coerce')

#Changement Type en int des codes N°
df = df.astype({
    'Code voie': 'Int64',
    'Code postal' : 'Int64',
    'Code departement' : 'Int64',
    'Nombre pieces principales' :'Int64',
})

# Changement Type Valeur foncière
df["Valeur fonciere"] = pd.to_numeric(df['Valeur fonciere'].str.replace(',', ''))

In [109]:
# Changement Type surfaces carrez des lots
colonnes_surfacecarrez = [
    'Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 
    'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 
    'Surface Carrez du 5eme lot'
]

for col in colonnes_surfacecarrez:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [110]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             float64
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   Int64
 8   Voie                        object
 9   Code postal                 Int64
 10  Commune                     object
 11  Code departement            Int64
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   float64
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  float64
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  float64
 23  4eme lot                    float64
 24  Surface Carrez du 4eme lot  float64
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  float64
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   Int64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: Int64(4), float64(12), int64(4), object(15)
memory usage: 1009.4+ MB
None

### Drop Colonnes

In [111]:
df.columns

Index(['No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [112]:
print(df)

         No disposition Date mutation Nature mutation  Valeur fonciere  \
0                     1    05/01/2023           Vente      107000000.0
1                     1    05/01/2023           Vente      107000000.0
2                     1    05/01/2023           Vente      107000000.0
3                     1    03/01/2023           Vente       15220000.0
4                     1    05/01/2023           Vente       26900000.0
...                 ...           ...             ...              ...
3727000               1    05/10/2023    Adjudication      393100000.0
3727001               1    05/10/2023    Adjudication      393100000.0
3727002               1    05/10/2023    Adjudication      393100000.0
3727003               1    28/12/2023           Vente        9825000.0
3727004               1    28/12/2023           Vente        9825000.0

         No voie B/T/Q Type de voie  Code voie               Voie  \
0          184.0   NaN          ALL        124         DES HETRES
1          159.0   NaN          ALL        124         DES HETRES
2          159.0   NaN          ALL        124         DES HETRES
3         2914.0   NaN          RTE        107          DE PONCIN
4          427.0     T          CHE         40       DE L'AUBEPIN
...          ...   ...          ...        ...                ...
3727000     39.0   NaN           AV       1832    CHARLES FLOQUET
3727001     39.0   NaN           AV       1832    CHARLES FLOQUET
3727002     39.0   NaN           AV       1832    CHARLES FLOQUET
3727003     66.0     B          RUE       8892  SEBASTIEN MERCIER
3727004     66.0     B          RUE       8892  SEBASTIEN MERCIER

         Code postal  ... 5eme lot  Surface Carrez du 5eme lot  \
0               1630  ...      NaN                         NaN
1               1630  ...      NaN                         NaN
2               1630  ...      NaN                         NaN
3               1450  ...      NaN                         NaN
4               1800  ...      NaN                         NaN
...              ...  ...      ...                         ...
3727000        75007  ...      NaN                         NaN
3727001        75007  ...      NaN                         NaN
3727002        75007  ...      NaN                         NaN
3727003        75015  ...      NaN                         NaN
3727004        75015  ...      NaN                         NaN

         Nombre de lots  Code type local   Type local  Surface reelle bati  \
0                     1              3.0   Dépendance                  0.0
1                     1              3.0   Dépendance                  0.0
2                     1              2.0  Appartement                233.0
3                     0              1.0       Maison                 64.0
4                     0              1.0       Maison                 73.0
...                 ...              ...          ...                  ...
3727000               1              3.0   Dépendance                  0.0
3727001               1              3.0   Dépendance                  0.0
3727002               1              3.0   Dépendance                  0.0
3727003               1              3.0   Dépendance                  0.0
3727004               1              2.0  Appartement                 18.0

        Nombre pieces principales Nature culture  Nature culture speciale  \
0                               0            NaN                      NaN
1                               0            NaN                      NaN
2                               8            NaN                      NaN
3                               3              S                      NaN
4                               3              S                      NaN
...                           ...            ...                      ...
3727000                         0            NaN                      NaN
3727001                         0            NaN                      NaN
3727002                         0            NaN                      NaN
3727003                         0            NaN                      NaN
3727004                         1            NaN                      NaN

        Surface terrain
0                   NaN
1                   NaN
2                   NaN
3                 988.0
4                 835.0
...                 ...
3727000             NaN
3727001             NaN
3727002             NaN
3727003             NaN
3727004             NaN

[3727005 rows x 35 columns]

In [113]:
colonnes_to_drop = ['No disposition','No voie', 'Prefixe de section', 'Section', 'No plan', '1er lot', '2eme lot', '3eme lot',  '4eme lot', '5eme lot', 'Code type local', 'Nature culture', 'Nature culture speciale']
df = df.drop(columns=colonnes_to_drop)

print(df)

        Date mutation Nature mutation  Valeur fonciere B/T/Q Type de voie  \
0          05/01/2023           Vente      107000000.0   NaN          ALL
1          05/01/2023           Vente      107000000.0   NaN          ALL
2          05/01/2023           Vente      107000000.0   NaN          ALL
3          03/01/2023           Vente       15220000.0   NaN          RTE
4          05/01/2023           Vente       26900000.0     T          CHE
...               ...             ...              ...   ...          ...
3727000    05/10/2023    Adjudication      393100000.0   NaN           AV
3727001    05/10/2023    Adjudication      393100000.0   NaN           AV
3727002    05/10/2023    Adjudication      393100000.0   NaN           AV
3727003    28/12/2023           Vente        9825000.0     B          RUE
3727004    28/12/2023           Vente        9825000.0     B          RUE

         Code voie               Voie  Code postal              Commune  \
0              124         DES HETRES         1630     ST-GENIS-POUILLY
1              124         DES HETRES         1630     ST-GENIS-POUILLY
2              124         DES HETRES         1630     ST-GENIS-POUILLY
3              107          DE PONCIN         1450    SERRIERES-SUR-AIN
4               40       DE L'AUBEPIN         1800  SAINT-JEAN-DE-NIOST
...            ...                ...          ...                  ...
3727000       1832    CHARLES FLOQUET        75007             PARIS 07
3727001       1832    CHARLES FLOQUET        75007             PARIS 07
3727002       1832    CHARLES FLOQUET        75007             PARIS 07
3727003       8892  SEBASTIEN MERCIER        75015             PARIS 15
3727004       8892  SEBASTIEN MERCIER        75015             PARIS 15

         Code departement  ...  Surface Carrez du 1er lot  \
0                       1  ...                        NaN
1                       1  ...                        NaN
2                       1  ...                        NaN
3                       1  ...                        NaN
4                       1  ...                        NaN
...                   ...  ...                        ...
3727000                75  ...                        NaN
3727001                75  ...                        NaN
3727002                75  ...                        NaN
3727003                75  ...                        NaN
3727004                75  ...                        NaN

        Surface Carrez du 2eme lot  Surface Carrez du 3eme lot  \
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
3727000                        NaN                         NaN
3727001                        NaN                         NaN
3727002                        NaN                         NaN
3727003                        NaN                         NaN
3727004                        NaN                         NaN

         Surface Carrez du 4eme lot  Surface Carrez du 5eme lot  \
0                               NaN                         NaN
1                               NaN                         NaN
2                               NaN                         NaN
3                               NaN                         NaN
4                               NaN                         NaN
...                             ...                         ...
3727000                         NaN                         NaN
3727001                         NaN                         NaN
3727002                         NaN                         NaN
3727003                         NaN                         NaN
3727004                         NaN                         NaN

         Nombre de lots   Type local  Surface reelle bati  \
0                     1   Dépendance                  0.0
1                     1   Dépendance                  0.0
2                     1  Appartement                233.0
3                     0       Maison                 64.0
4                     0       Maison                 73.0
...                 ...          ...                  ...
3727000               1   Dépendance                  0.0
3727001               1   Dépendance                  0.0
3727002               1   Dépendance                  0.0
3727003               1   Dépendance                  0.0
3727004               1  Appartement                 18.0

        Nombre pieces principales  Surface terrain
0                               0              NaN
1                               0              NaN
2                               8              NaN
3                               3            988.0
4                               3            835.0
...                           ...              ...
3727000                         0              NaN
3727001                         0              NaN
3727002                         0              NaN
3727003                         0              NaN
3727004                         1              NaN

[3727005 rows x 22 columns]

### Remplacer valeurs manquantes (pour les surfaces carrez)

In [114]:
# Avant
SurfCarrez1 = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1) # on voit qu'il y a des valeurs manquantes
# pareil pour 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot'

[nan]

In [115]:
# Après
df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']] = df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].fillna(0)
SurfCarrez1_sansNaN = df['Surface Carrez du 1er lot'].unique()
print(SurfCarrez1_sansNaN)

[0.]

### Somme Surface Carrez

In [116]:
print(df[['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']].info())

df['Surface Carrez total lots'] = df[colonnes_surfacecarrez].sum(axis=1)

print(df[['Surface Carrez total lots']].head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Surface Carrez du 1er lot   float64
 1   Surface Carrez du 2eme lot  float64
 2   Surface Carrez du 3eme lot  float64
 3   Surface Carrez du 4eme lot  float64
 4   Surface Carrez du 5eme lot  float64
dtypes: float64(5)
memory usage: 142.2 MB
None
    Surface Carrez total lots
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0
5                         0.0
6                         0.0
7                         0.0
8                         0.0
9                         0.0
10                        0.0
11                        0.0
12                        0.0
13                        0.0
14                        0.0
15                        0.0
16                        0.0
17                        0.0
18                        0.0
19                        0.0

### Drop colonnes surface carrez des lots

In [117]:
df=df.drop(columns=colonnes_surfacecarrez)

In [118]:
print(df.columns)

Index(['Date mutation', 'Nature mutation', 'Valeur fonciere', 'B/T/Q',
       'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune',
       'Code departement', 'Code commune', 'No Volume', 'Nombre de lots',
       'Type local', 'Surface reelle bati', 'Nombre pieces principales',
       'Surface terrain', 'Surface Carrez total lots'],
      dtype='object')

In [119]:
print(df.shape)

(3727005, 18)

### Fusion Adresse

Valeurs manquantes

In [125]:
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].astype(str).fillna('')
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']] = df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].replace('nan', '')

In [126]:
# verif qu'il n'y a plus de NA ou 'nan'
print(df['B/T/Q'].unique())
print(df['Code voie'].unique())
print(df['Type de voie'].unique())
print(df['Code postal'].unique())
print(df['Commune'].unique())

['' 'T' 'A' 'B' '2' 'D' 'G' 'C' 'F' 'Z' 'Q' 'E' 'H' 'J' 'I' 'N' 'L' 'P'
 'O' 'R' 'W' 'Y' '1' 'M' 'X' 'K' 'U' 'V' '7' '3' 'S' '5' '9' '4' '0' '8'
 '6' '*' '-' '.']
['124' '107' '40' ... '9397' '9762' '9466']
['ALL' 'RTE' 'CHE' 'RUE' '' 'AV' 'IMP' 'BD' 'CHEM' 'QUAI' 'VC' 'GR' 'PL'
 'LOT' 'MTE' 'CRS' 'FG' 'CLOS' 'D' 'PAS' 'VOIE' 'RLE' 'RUET' 'PTR' 'PARC'
 'PROM' 'RES' 'MAIL' 'COUR' 'COTE' 'PCH' 'CITE' 'PLA' 'HAM' 'PRT' 'ZA'
 'VCHE' 'GPL' 'ZI' 'SQ' 'SEN' 'CHS' 'CR' 'QUA' 'REM' 'FRM' 'N' 'RPT' 'VLA'
 'RPE' 'ZAC' 'PTE' 'ECL' 'ESPA' 'VGE' 'TRA' 'PASS' 'CD' 'DOM' 'DIG' 'ESC'
 'VTE' 'DRA' 'COR' 'ESP' 'ART' 'GAL' 'HLM' 'VALL' 'ACH' 'ILOT' 'CAMI'
 'CAE' 'BRTL' 'PLE' 'PTTE' 'PAE' 'DSC' 'CALL' 'TSSE' 'VAL' 'RTD' 'CAR'
 'RIVE' 'VEN' 'ZONE' 'CHT' 'AUT' 'ENC' 'AGL' 'CTRE' 'CPG' 'PORT' 'MAIS'
 'PLAN' 'TOUR' 'PLAG' 'MAR' 'CC' 'HAB' 'EMBR' 'PONT' 'ROC' 'CAN' 'CHV'
 'CRX' 'BSN' 'ZAD' 'VIL' 'LEVE' 'PRV' 'PLCI' 'PKG' 'VIA' 'CF' 'PIST' 'CTR'
 'TRT' 'RAC' 'BER' 'PLT' 'BRG' 'CORO' 'VOIR' 'CASR' 'BRE' 'NTE' 'CHL'
 'CLR' 'COL' 'VOY' 'LICE' 'HLG' 'JARD' 'BORD' 'MRN']
['1630' '1450' '1800' ... '75012' '75007' '75005']
['ST-GENIS-POUILLY' 'SERRIERES-SUR-AIN' 'SAINT-JEAN-DE-NIOST' ...
 'PARIS 07' 'PARIS 16' 'PARIS 05']

Fusion adresse

In [127]:

#df['adresse']=
df[['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3727005 entries, 0 to 3727004
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Code voie     object
 1   B/T/Q         object
 2   Type de voie  object
 3   Voie          object
 4   Code postal   object
 5   Commune       object
dtypes: object(6)
memory usage: 170.6+ MB

In [128]:
df['Adresse'] = df['Code voie'] + ' ' + df['B/T/Q'] + ' '  + df['Type de voie'] + ' ' + df['Voie'] + ' ' + df['Code postal'] + ' ' + df['Commune']
print(df['Adresse'])

0               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
1               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
2               124  ALL DES HETRES 1630 ST-GENIS-POUILLY
3               107  RTE DE PONCIN 1450 SERRIERES-SUR-AIN
4          40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
                                ...
3727000           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727001           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727002           1832  AV CHARLES FLOQUET 75007 PARIS 07
3727003       8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004       8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
Name: Adresse, Length: 3727005, dtype: object

Supp Elements d'adresse

In [98]:
#Suppr Elements d'adresse
df=df.drop(columns=['Code voie', 'B/T/Q','Type de voie','Voie', 'Code postal', 'Commune','Code commune'])
print(df)

        Date mutation Nature mutation  Valeur fonciere  Code departement  \
0          05/01/2023           Vente      107000000.0                 1
1          05/01/2023           Vente      107000000.0                 1
2          05/01/2023           Vente      107000000.0                 1
3          03/01/2023           Vente       15220000.0                 1
4          05/01/2023           Vente       26900000.0                 1
...               ...             ...              ...               ...
3727000    05/10/2023    Adjudication      393100000.0                75
3727001    05/10/2023    Adjudication      393100000.0                75
3727002    05/10/2023    Adjudication      393100000.0                75
3727003    28/12/2023           Vente        9825000.0                75
3727004    28/12/2023           Vente        9825000.0                75

        No Volume  Nombre de lots   Type local  Surface reelle bati  \
0             NaN               1   Dépendance                  0.0
1             NaN               1   Dépendance                  0.0
2             NaN               1  Appartement                233.0
3             NaN               0       Maison                 64.0
4             NaN               0       Maison                 73.0
...           ...             ...          ...                  ...
3727000       NaN               1   Dépendance                  0.0
3727001       NaN               1   Dépendance                  0.0
3727002       NaN               1   Dépendance                  0.0
3727003       NaN               1   Dépendance                  0.0
3727004       NaN               1  Appartement                 18.0

         Nombre pieces principales  Surface terrain  \
0                                0              NaN
1                                0              NaN
2                                8              NaN
3                                3            988.0
4                                3            835.0
...                            ...              ...
3727000                          0              NaN
3727001                          0              NaN
3727002                          0              NaN
3727003                          0              NaN
3727004                          1              NaN

         Surface Carrez total lots  \
0                              0.0
1                              0.0
2                              0.0
3                              0.0
4                              0.0
...                            ...
3727000                        0.0
3727001                        0.0
3727002                        0.0
3727003                        0.0
3727004                        0.0

                                                Adresse
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4        40 T CHE DE L'AUBEPIN 1800 SAINT-JEAN-DE-NIOST
...                                                 ...
3727000                                             NaN
3727001                                             NaN
3727002                                             NaN
3727003     8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15
3727004     8892 B RUE SEBASTIEN MERCIER 75015 PARIS 15

[3727005 rows x 12 columns]

In [101]:
df_grouped= df.groupby(['Adresse', 'Date mutation']).agg({
    'Valeur fonciere': 'sum',
    })
print(df_grouped)

                                                                  Valeur fonciere
Adresse                                            Date mutation
1 A CHE DE L ABREUVOIR 6270 VILLENEUVE-LOUBET      26/01/2023          22500000.0
                                                   26/05/2023           1120000.0
1 A CHE DE L'ECOLE 47290 LOUGRATTE                 28/03/2023          18500000.0
1 A CHE DES ABAYERS 84400 APT                      31/07/2023         840000000.0
1 A IMP DES ACACIAS 26140 ANNEYRON                 03/11/2023         364320000.0
...                                                                           ...
<NA> Z nan LES GARAGES 11370 LEUCATE               18/07/2023           3300000.0
                                                   27/10/2023          11400000.0
<NA> Z nan LES TERRES ROSES 10150 LAVAU            05/09/2023          31000000.0
<NA> Z nan RES COUDARELS FRANQUI OUES 11370 LEU... 08/08/2023          14900000.0
<NA> Z nan TRAOU AR VOAS 22420 PLOUARET            28/06/2023             38400.0

[82228 rows x 1 columns]

### Région IDF :

https://www.delftstack.com/fr/howto/python-pandas/how-to-filter-dataframe-rows-based-on-column-values-in-pandas/

In [ ]:
regionidf={1}
region_1={75,77,78,91,92,93,94,95}
df_regionidf= df[df["Code departement"].isin(regionidf)]

In [ ]:
print(df_regionidf.head(10))

  Date mutation Nature mutation  Valeur fonciere B/T/Q Type de voie  \
0    05/01/2023           Vente      107000000.0   NaN          ALL
1    05/01/2023           Vente      107000000.0   NaN          ALL
2    05/01/2023           Vente      107000000.0   NaN          ALL
3    03/01/2023           Vente       15220000.0   NaN          RTE
4    05/01/2023           Vente       26900000.0     T          CHE
5    05/01/2023           Vente       26900000.0     T          CHE
6    05/01/2023           Vente       26900000.0     T          CHE
7    03/01/2023           Vente       77000000.0     A          RUE
8    06/01/2023           Vente         682000.0   NaN          NaN
9    06/01/2023         Echange        1004000.0   NaN          NaN

   Code voie                Voie  Code postal              Commune  \
0        124          DES HETRES         1630     ST-GENIS-POUILLY
1        124          DES HETRES         1630     ST-GENIS-POUILLY
2        124          DES HETRES         1630     ST-GENIS-POUILLY
3        107           DE PONCIN         1450    SERRIERES-SUR-AIN
4         40        DE L'AUBEPIN         1800  SAINT-JEAN-DE-NIOST
5         40        DE L'AUBEPIN         1800  SAINT-JEAN-DE-NIOST
6         40        DE L'AUBEPIN         1800  SAINT-JEAN-DE-NIOST
7        151  DU PARC DE VILLARD         1210                ORNEX
8       <NA>       ETANG DU BOIS         1480           VILLENEUVE
9       <NA>        CARRE ROCHER         1500    AMBERIEU-EN-BUGEY

   Code departement  Code commune No Volume  Nombre de lots  Code type local  \
0                 1           354       NaN               1              3.0
1                 1           354       NaN               1              3.0
2                 1           354       NaN               1              2.0
3                 1           404       NaN               0              1.0
4                 1           361       NaN               0              1.0
5                 1           361       NaN               0              3.0
6                 1           361       NaN               0              3.0
7                 1           281       NaN               0              1.0
8                 1           446       NaN               0              NaN
9                 1             4       NaN               0              NaN

    Type local  Surface reelle bati  Nombre pieces principales  \
0   Dépendance                  0.0                          0
1   Dépendance                  0.0                          0
2  Appartement                233.0                          8
3       Maison                 64.0                          3
4       Maison                 73.0                          3
5   Dépendance                  0.0                          0
6   Dépendance                  0.0                          0
7       Maison                136.0                          7
8          NaN                  NaN                       <NA>
9          NaN                  NaN                       <NA>

   Surface terrain  Surface Carrez total lots
0              NaN                        0.0
1              NaN                        0.0
2              NaN                        0.0
3            988.0                        0.0
4            835.0                        0.0
5            835.0                        0.0
6            835.0                        0.0
7            921.0                        0.0
8          17050.0                        0.0
9            124.0                        0.0

In [ ]:
print(df_regionidf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 40970 entries, 0 to 40969
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date mutation              40970 non-null  object
 1   Nature mutation            40970 non-null  object
 2   Valeur fonciere            40732 non-null  float64
 3   B/T/Q                      1108 non-null   object
 4   Type de voie               18829 non-null  object
 5   Code voie                  18580 non-null  Int64
 6   Voie                       40513 non-null  object
 7   Code postal                40513 non-null  Int64
 8   Commune                    40970 non-null  object
 9   Code departement           40970 non-null  Int64
 10  Code commune               40970 non-null  int64
 11  No Volume                  90 non-null     object
 12  Nombre de lots             40970 non-null  int64
 13  Code type local            19112 non-null  float64
 14  Type local                 19112 non-null  object
 15  Surface reelle bati        19058 non-null  float64
 16  Nombre pieces principales  19058 non-null  Int64
 17  Surface terrain            30204 non-null  float64
 18  Surface Carrez total lots  40970 non-null  float64
dtypes: Int64(4), float64(5), int64(2), object(8)
memory usage: 6.4+ MB
None

In [ ]:
print(df_regionidf['Code postal'])

df_regionidf['Adresse'] = df_regionidf['Code voie'].astype(str) + ' ' + df_regionidf['Type de voie'].astype(str) + ' ' + df_regionidf['Voie'] + ' ' + df_regionidf['Code postal'].astype(str)
print(df_regionidf['Adresse'])

0        1630
1        1630
2        1630
3        1450
4        1800
         ...
40965    1210
40966    1210
40967    1210
40968    1210
40969    1630
Name: Code postal, Length: 40970, dtype: Int64
0             124 ALL DES HETRES 1630
1             124 ALL DES HETRES 1630
2             124 ALL DES HETRES 1630
3              107 RTE DE PONCIN 1450
4            40 CHE DE L'AUBEPIN 1800
                     ...
40965    122 AV DES SABLONNIERES 1210
40966    122 AV DES SABLONNIERES 1210
40967    122 AV DES SABLONNIERES 1210
40968    122 AV DES SABLONNIERES 1210
40969      188 RUE BLAISE PASCAL 1630
Name: Adresse, Length: 40970, dtype: object

C:\Users\Julie Mahot\AppData\Local\Temp\ipykernel_9968\1816410747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regionidf['Adresse'] = df_regionidf['Code voie'].astype(str) + ' ' + df_regionidf['Type de voie'].astype(str) + ' ' + df_regionidf['Voie'] + ' ' + df_regionidf['Code postal'].astype(str)